<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SportsDataIOApiKey</key>
	<string>YOUR_SPORTSDATA_IO_KEY</string>
	<key>LoginDatabaseURL</key>
	<string>https://YOUR_PROJECT_REF.supabase.co/rest/v1</string>
	<key>LoginDatabaseApiKey</key>
	<string>YOUR_SUPABASE_ANON_KEY</string>
	<key>AWSRegion</key>
	<string>us-east-1</string>
	<key>AWSAccessKeyId</key>
	<string></string>
	<key>AWSSecretAccessKey</key>
	<string></string>
	<key>TextractBackendURL</key>
	<string>https://0lgqfeaqxh.execute-api.us-east-1.amazonaws.com/ocr</string>
	<key>AIGridBackendURL</key>
	<string>https://0lgqfeaqxh.execute-api.us-east-1.amazonaws.com/ai-grid</string>
	<key>PayoutParseBackendURL</key>
	<string>https://zko1kpmg0l.execute-api.us-east-1.amazonaws.com/default/superbowlbox-payout-parse</string>
	<key>SharedPoolsURL</key>
	<string></string>
	<key>SharedPoolsApiKey</key>
	<string></string>
</dict>
</plist>
